@media only screen and (max-width: 550px) {
  /* A4 simulation
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .a4 {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    background: white;
    margin: 50px auto;
  }

  /* Présentation
__________________________________________________________________________________________________________________________________________________________________________________________________*/
  #presentation > div * {
    margin: 5px 0;
    align-items: center;
    text-align: center;
  }

  #presentation div {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
  }

  #presentation > div > div > h1 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  #presentation > div > ul {
    width: auto;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  /* A4 simulation
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .a4 {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    background: white;
    margin: 50px auto;
  }

  /* Présentation
__________________________________________________________________________________________________________________________________________________________________________________________________*/
  #presentation > div * {
    margin: 0 0;
    align-items: center;
    text-align: center;
  }

  #presentation > div > div {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}
