@media only screen and (max-width: 499px) {
  /* A4 simulation
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .a4 {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    background: white;
    margin: 50px auto;
  }

  /* Présentation
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #presentation div {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
  }

  #presentation div div h1 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}






@media only screen and (min-width: 500px) and (max-width: 800px) {
  /* A4 simulation
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .a4 {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    background: white;
    margin: 50px auto;
  }

}
