@media only print {
  * {
    -webkit-print-color-adjust: exact;
  }

  .a4 {
    margin: 0;
    box-shadow: none;
  }

  .categorie#presentation {
    margin-top: 0%;
    padding-bottom: 0px;
  }
  
  /* #profil > div > div:first-child  {
    margin-bottom: 5px;
  } */

  #icons > div {
    display: flex;
    width: 20%;
  }

  /* .hidden {
    display: block;
    width: 100%;
    text-align: center; 
  } */
}

@media only screen and (max-width: 550px) {
  /* A4 simulation smartphones
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .a4 {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    background: white;
    margin: 50px auto;
  }

  /* Classes & ID divers
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .date {
    display: block;
  }

  /* Présentation smartphones
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #presentation > div * {
    margin: 5px 0;
    align-items: center;
    text-align: center;
  }

  #presentation div {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
  }

  #presentation > div > div > h2 {
    width: 100%;
  }

  #presentation > div > ul {
    width: auto;
    justify-content: space-around;
  }

  /* Profil smartphones
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #profil > div {
    justify-content: center;
  }

  #profil > div > div:nth-child(2) > div:first-child {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #profil > div > div:nth-child(2) > div:first-child p {
    padding: 0;
    margin: 5px 0;
    text-align: justify;
    width: 100%;
    height: auto;
  }

  #icons {
    justify-content: space-around;
  }

  #profil > div > div:nth-child(2) > div:last-child {
    width: 100%;
  }

  #profil h3 {
    margin: 30px 0 7px;
    text-align: center;
  }

  #profil ul {
    display: block;
    line-height: 1.6em;
    flex-wrap: wrap;
    font-size: 0.75em;
  }

  /* Compétences smartphones
__________________________________________________________________________________________________________________________________________________________________________________________________*/
  #competences h3 {
    margin: 0 0 10px;
  }
  #competences ul {
    width: 100%;
  }

  /* Hobbies smartphones
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #hobbies ul {
    flex-wrap: wrap;
  }

  #hobbies li div:before {
    display: none;
  }

  #hobbies li {
    margin-top: 5%;
    width: 50%;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  /* A4 simulation tablettes
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .a4 {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    background: white;
    margin: 50px auto;
  }

  /* Classes & ID divers
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .date {
    display: block;
  }

  /* Présentation tablettes
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #presentation > div * {
    margin: 0;
    align-items: center;
    text-align: center;
  }

  #presentation > div {
    height: auto;
  }

  #presentation > div > div {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Profil tablettes
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #profil > div > div:nth-child(2) > div:first-child {
    justify-content: center;
    flex-wrap: wrap;
  }

  #profil > div > div:nth-child(2) > div:first-child p {
    padding: 0;
    margin: 5px 0;
    text-align: justify;
    width: 100%;
    height: auto;
  }

  #profil > div > div:nth-child(2) > div:last-child {
    width: 100%;
  }

  #profil > div > div:nth-child(2) > div:last-child p {
    margin: 5px 0 0;
  }

  #profil h3 {
    margin: 30px 0 7px;
    text-align: center;
  }
}
