@media only print {
  * {
    -webkit-print-color-adjust: exact;
  }

  .a4 {
    margin: 0 0;
  }

  .categorie#presentation {
    margin-top: 0%;
  }
}

@media only screen and (max-width: 550px) {
  /* A4 simulation smartphones
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .a4 {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    background: white;
    margin: 50px auto;
  }

  /* Classes & ID divers
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .date {
    display: block;
  }

  /* Présentation smartphones
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #presentation > div * {
    margin: 5px 0;
    align-items: center;
    text-align: center;
  }

  #presentation div {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
  }

  #presentation > div > div > h2 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  #presentation > div > ul {
    width: auto;
    justify-content: space-around;
  }

  /* Profil smartphones
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #profil > div {
    justify-content: center;
  }

  #profil p {
    text-align: center;
    width: 100%;
    height: auto;
  }

  /* Compétences smartphones
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #competences > div > div {
    width: 100%;
  }

  /* Hobbies smartphones
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #hobbies ul {
    flex-wrap: wrap;
  }

  #hobbies li:before {
    display: none;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  /* A4 simulation tablettes
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .a4 {
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    background: white;
    margin: 50px auto;
  }

  /* Classes & ID divers
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  .date {
    display: block;
  }

  /* Présentation tablettes
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #presentation > div * {
    margin: 0 0;
    align-items: center;
    text-align: center;
  }

  #presentation > div {
    height: auto;
  }

  #presentation > div > div {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Profil tablettes
__________________________________________________________________________________________________________________________________________________________________________________________________*/

  #profil p {
    text-align: center;
    width: calc(100% - 125px);
    height: auto;
  }
}
