/* Importation "Monserrat" depuis Google Font
__________________________________________________________________________________________________________________________________________________________________________________________________*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* Définitions de variables récurrentes
__________________________________________________________________________________________________________________________________________________________________________________________________*/

:root {
  --Default-Size: 20px;
  --Padding-A4: 5%;
  --White: #ffffff;
  --Lily_White: #e7f8ff;
  --Black: #000000;
  --Nepal: #8eabc1;
  --Gallery: #efefef;
  --Sail: #b8e0f9; /* #A1E2F7;  */
  --Allports: #327da0;
  --Emperor: #514649;
  --Mid_Gray: #5f5f6e;
  --Azure_Radiance: #0086e6;
}

/* Propriétés globales
__________________________________________________________________________________________________________________________________________________________________________________________________*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: var(--Mid_Gray);
  font-size: 14px;
  line-height: 22px;
  color: var(--Emperor);
}

a {
  color: var(--Emperor);
}

hr {
  margin: 10px auto;
  width: 90%;
}

/* Classes & ID divers
__________________________________________________________________________________________________________________________________________________________________________________________________*/

#gras {
  width: 100%;
  font-weight: 700;
  font-size: calc(var(--Default-Size) + 10px);
}

.titre_categorie {
  font-weight: 500;
  font-size: var(--Default-Size);
  height: fit-content;
}

.titre_section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.titre {
  font-weight: 500;
  font-size: 16px;
}

.date {
  font-weight: 400;
  font-size: 12px;
}

.poste {
  font-weight: lighter;
  margin: 0 0 5px;
}

.logo {
  height: 50px;
  width: 50px;
}

/* A4 simulation
__________________________________________________________________________________________________________________________________________________________________________________________________*/

.a4 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background: white;
  width: 900px;
  margin: 50px auto;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.534);
}

/* Catégories
__________________________________________________________________________________________________________________________________________________________________________________________________*/

.categorie {
  padding: var(--Default-Size) var(--Padding-A4);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: var(--White);
}

.categorie#presentation {
  margin-top: 5%;
}

.categorie#ex_professionnelles {
  background-color: var(--Lily_White);
}

/* Présentation
__________________________________________________________________________________________________________________________________________________________________________________________________*/
#searching {
  display: none;
}


#presentation > div {
  display: flex;
  height: 80px;
}

#presentation > div > div {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  align-content: space-around;
}

#presentation h2 {
  padding-top: 5px;
  width: 100%;
}

#presentation > div > ul {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: min-content;
}

#presentation li {
  display: flex;
  flex-wrap: nowrap;
}

#presentation ul svg {
  fill: var(--Black);
  width: 20px;
  height: 20px;
  justify-content: center;
  margin: 0 7px;
}

#presentation > svg {
  margin: var(--Default-Size) 0 0 0;
}

/* Profil
__________________________________________________________________________________________________________________________________________________________________________________________________*/

#profil > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#profil > div > div:first-child  {
  text-align: center;
  border: 0.1px solid rgba(182, 0, 0, 0.61); 
  width: 100%;
  padding: 1px;
  margin-bottom: 15px;
  /* display: none; */
}

#profil > div > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#profil > div > div:nth-child(2) > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

#profil img {
  border-radius: 50%;
  width: 125px;
  margin: 10px 0;
}

#profil > div > div:nth-child(2) > div:first-child > p {
  padding: 0 25px;
  height: auto;
  width: calc(100% - 125px);
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

#profil > div > div:nth-child(2) > div:last-child {
  font-weight: normal;
  justify-content: center;
  width: calc(100% - 125px);
  height: auto;
}

#profil > div > div:nth-child(2) > div:last-child > p {
  text-align: center;
  width: 100%;
  margin: 15px 0 0;
}

#icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
#icons > div {
  display: flex;
  justify-content: center;
  width: 10%;
  flex-wrap: wrap;
}

#icons a {
  margin: 10px 15px 0;
}

#icons div:first-child i {
  font-size: 26px;
}

.hidden {
  display: none
}

#profil > div > div:last-child {
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}

#profil h3 {
  margin: 10px 0 7px;
  text-align: left;
}

#profil ul {
  display: flex;
  justify-content: space-between;
  line-height: 1.6em;
  flex-wrap: wrap;
  font-size: 0.8em;
}

#profil li {
  /* list-style: inside; */
  text-align: center;
}

/* Expériences professionnelles
__________________________________________________________________________________________________________________________________________________________________________________________________*/

#ex_professionnelles > div:last-child {
  position: relative;
  padding-left: 25px;
}

#ex_professionnelles .titre {
  margin: var(--Default-Size) 0 0;
}

#ex_professionnelles p {
  width: calc(100% - 50px);
}

/* Créer les cercles dans la "section" #ex_professionnelles */
#ex_professionnelles > div:last-child > div:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--White);
  background-color: var(--Nepal);
}

#ex_professionnelles > div:last-child > div:nth-child(2)::before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--White);
  background-color: var(--Nepal);
}

#ex_professionnelles > div:last-child > div:nth-child(3)::before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--White);
  background-color: var(--Nepal);
}

#ex_professionnelles > div:last-child > div:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--White);
  background-color: var(--Nepal);
}

#ex_professionnelles > div:last-child > div:last-child::before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--White);
  background-color: var(--Nepal);
}

/* Créer les lignes verticales dans la "section" #ex_professionnelles */
#ex_professionnelles > div:last-child > div:first-child::after {
  content: "";
  position: absolute;
  left: 4px;
  width: 2px;
  background-color: var(--Nepal);
}

#ex_professionnelles > div:last-child > div:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 4px;
  width: 2px;
  background-color: var(--Nepal);
}

#ex_professionnelles > div:last-child > div:nth-child(3)::after {
  content: "";
  position: absolute;
  left: 4px;
  width: 2px;
  background-color: var(--Nepal);
}

#ex_professionnelles > div:last-child > div:nth-child(4)::after {
  content: "";
  position: absolute;
  left: 4px;
  width: 2px;
  background-color: var(--Nepal);
}

#ex_professionnelles > div:last-child > div:last-child::after {
  content: "";
  position: absolute;
  left: 4px;
  width: 2px;
  background-color: var(--Nepal);
}

/* #ex_professionnelles > div:last-child > div:nth-child(2) .logo {
  padding-bottom: 13.5px;
} */

#ex_professionnelles > div:last-child > div:last-child .logo {
  padding-bottom: 8.4px;
}

/* Éducation
__________________________________________________________________________________________________________________________________________________________________________________________________*/

#education > :last-child {
  position: relative;
  padding-left: 25px;
  width: 100%;
}

#education .titre_section {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#education .titre {
  margin: var(--Default-Size) 0 0;
}

#education .titre_section > div {
  width: auto;
}

#education .titre_section:first-child img {
  width: 65px;
  height: 65px;
}

#education .titre_section:last-child img {
  width: 80.9px;
  height: 50px;
}

/* Créer les cercles dans la "section" #education */
#education > div:last-child > div:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--White);
  background-color: var(--Nepal);
}

#education > div:last-child > div:last-child::before {
  content: "";
  position: absolute;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 2px solid var(--White);
  background-color: var(--Nepal);
}

/* Créer les lignes verticales dans la "section" #education */
#education > div:last-child > div:first-child::after {
  content: "";
  position: absolute;
  left: 4px;
  width: 2px;
  background-color: var(--Nepal);
}

#education > div:last-child > div:last-child::after {
  content: "";
  position: absolute;
  left: 4px;
  width: 2px;
  background-color: var(--Nepal);
}

/* Compétences
__________________________________________________________________________________________________________________________________________________________________________________________________*/

#competences h3 {
  font-weight: 500;
}

#competences > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: var(--Default-Size) 0 0 0;
}

#competences ul {
  width: 25%;
  height: auto;
}

#competences li {
  display: flex;
  margin: 5px 0;
}

#competences svg {
  width: 18px;
  height: 18px;
  margin: 0 7px;
}

/* Hobbies
__________________________________________________________________________________________________________________________________________________________________________________________________*/

#hobbies ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: var(--Default-Size) 0;
}

#hobbies li {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80px;
  height: auto;
  position: relative;
  color: var(--Allports);
}

#hobbies li > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid var(--Allports);
  border-radius: 50%;
}

#hobbies svg {
  fill: var(--Allports);
  width: 60%;
  height: 60%;
}

#hobbies p {
  width: 100%;
  margin-top: 10px;
  line-height: normal;
  text-align: center;
  font-size: 0.85em;
}

#hobbies li div:before {
  content: "";
  position: absolute;
  top: 40px;
  height: 2px;
  background: var(--Allports);
}

#hobbies li:last-child div:before {
  display: none;
}
